<div class="login-container">
    <h2>Login</h2>
    <!-- <p>email- john@mail.com,
      password-changeme</p> -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">EmailId</label>
        <input
          id="username"
          type="email"
          formControlName="email"
          placeholder="Enter username"
        />
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter password"
        />
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </form> 
  </div>
  